<div class="container-fluid">
    <div class="row boxes-container posts-container">
        {{#blogs}}
            <div class="col-xs-2" id="box-wrapper">
               {{#ifThird @index}}
                <div class="big-box">
                {{else}}
                <div class="box">
                {{/ifThird}}
                    <div class="box-image" style="background-image: url({{image}})"></div>
                    <p class="box-category">{{category}}</p>
                    <p class="box-date">{{postedOn}}</p>
                    <p class="box-subcategory">{{subcategory}}</p>
                    <h2 class="box-title"><a href="#/blog/{{_id}}">{{title}}</a></h2>
                    <p class="box-author">Posted by {{postedBy}}</p>
                    <p class="box-content">{{article}}</p>
                    <div class="box-bottom-border"></div>
                </div>
            </div>
        {{/blogs}}
    </div>
</div>
<div class="container-fluid">
    
    <div class="row boxes-container">
        {{#pagination}}
        {{#if active}}
        <div class="col-1">
            {{#if previous.active}}
            <a href="#/home?page={{previous.value}}&size={{pageSize}}">
            <img src="../../../assets/pagination-left.png" alt="" class="page-img">
            </a>
            {{/if}}
        </div>
       <div class="col-10 text-center">
            {{#pageCountArray}}
                <span class="i-page-link"><a href="#/home?page={{@index}}&size=10">{{this}}</a></span>
                {{/pageCountArray}}
        </div>
        <div class="col-1">
            {{#if next.active}}
            <a href="#/home?page={{next.value}}&size={{pageSize}}">
                <img src="../../../assets/pagination-right.png" alt="" class="page-img">
            </a>
            {{/if}}
        </div>
        {{/if}}
        {{/pagination}}
    </div>
</div>
