<div class="container-fluid">
    <div class="row boxes-container posts-container">
        {{#blogs}}
        <div class="col-xs-2 col-lg-2 box-wrapper">
            {{#ifThird @index}}
            <div class="big-box">
                {{else}}
                <div class="box col-lg-12">
                    {{/ifThird}}
                    <div class="box-image" style="background-image: url({{image}})"></div>
                    <p class="box-category">{{category}}</p>
                    <p class="box-date">{{postedOn}}</p>
                    <p class="box-subcategory">{{subcategory}}</p>
                    <h2 class="box-title"><a href="#/blog/{{_id}}">{{title}}</a></h2>
                    <p class="box-author">Posted by {{postedBy}}</p>
                    <p class="box-content">{{article}}</p>
                    <div class="box-bottom-border"></div>
                </div>
            </div>
            {{/blogs}}
        </div>
        <div class="col-xs-2 d-none">
            <aside>
                <div class="aside-widget aside-box">
                    <h2 class="aside-title">Recent Comments</h2>
                    <ul>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                    </ul>
                    <div class="box-bottom-border"></div>
                </div>
                <div class="aside-widget aside-box">
                    <h2 class="aside-title">Recent Comments</h2>
                    <ul>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                    </ul>
                    <div class="box-bottom-border"></div>
                </div>
            </aside>
        </div>
    </div>
</div>