<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#/home">Home</a></li>    
  <li class="breadcrumb-item"><a href="#">{{category}}</a></li>
  <li class="breadcrumb-item active">{{title}}</li>
</ol>
<div class="i-padding-reset">
    <div class="row">
        <div class="col-lg-12 col-xl-8 col-md-12 col-sm-12 col-xs-12">
            <div class="">
            <div class="current-box">
                <div class="box-top-border"></div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="current-box-image i-push-left">
                            <img src="{{image}}" alt="">
                            <div class="box-category">{{category}}</div>
                        </div>
                        <div class="current-box-tags i-push-left">
                            <div class="tags-wrapper">
                            <h2>Tags</h2>
                            <ul>
                                {{#subcategory}}
                                <li>{{subcategory}}</li>
                                {{/subcategory}}
                            </ul>
                            <div class="clear-float"></div>
                            </div>
                        </div>
                        <div class="current-box-related i-push-left">
                            <h2>Related posts</h2>
                            <ul>
                                <li><img src="../../../assets/li-link.png" alt="" class="li-link"><span>asdasd</span></li>
                                <li><img src="../../../assets/li-link.png" alt="" class="li-link"><span>asdasd</span></li>
                                <li><img src="../../../assets/li-link.png" alt="" class="li-link"><span>asdasd</span></li>
                            </ul>
                        </div>
                        <div class="current-box-share i-push-left">
                            <h2>Share this</h2>
                            <ul>
                                <li><a><img src="../../../assets/share-twitter.png" alt=""></a></li>
                                <li><a><img src="../../../assets/share-facebook.png" alt=""></a></li>
                                <li><a><img src="../../../assets/share-middle.png" alt=""></a></li>
                                <li><a><img src="../../../assets/share-digg.png" alt=""></a></li>
                                <li><a><img src="../../../assets/share-reddit.png" alt=""></a></li>
                            </ul>
                            <div class="clear-float"></div>
                        </div>
                    </div>
                    <div class="col-9 current-box-right">
                        <h2 class="box-title">{{title}}</h2>
                        <p class="box-author">POSTED BY {{postedBy}} IN {{category}} | Comments {{comments.length}}</p>
                        <p class="box-content">{{article}}</p>
                    </div>
                </div>
                <div class="box-bottom-border"></div>
            </div>
            <div class="current-box-comments">
               <div class="box-top-border"></div>
                <div>
                    <h2 class="box-title">{{comments.length}} Comments</h2>
                </div>
               <div class="comments-container">
                    {{#if comments}} {{#comments}}
                        <div class="comment">
                            <div class="comment-data">
                                <img src="https://avatar.artofproblemsolving.com/avatar_362807.jpg?t=1501361955" alt="" class="comment-img">
                                <div class="comment-details">
                                    <h2 class="comment-author">{{postedBy}}</h2>
                                    <p class="comment-content">{{content}}</p>
                                    <button class="reply-button">REPLY</button>
                                </div>
                            </div>
                           <!-- {{#if subComments.length}}
                                <div class="subcomments">
                                    {{#each subComments}}
                                        <div class="subcomment">
                                            <div class="comment-data">
                                                <img src="http://via.placeholder.com/100x100" alt="" class="comment-img">
                                                <div class="comment-details">
                                                    <h2 class="comment-author">{{postedBy}}</h2>
                                                    <p class="comment-content">{{article}}</p>
                                                    <button class="reply-button">REPLY</button>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/if}} -->
                        </div>
                    {{/comments}} {{else}}
                    <h1>This article has no comments yet</h1>
            {{/if}}
                </div>
               <form id="leave-reply" <!--action="/blog/{{_id}}/comments/-2"--> class="comment-form" method="POST">
                    <h2 class="box-title">Leave a comment</h2>
                    <div class="form-group">
                    <input type="text" placeholder="Email Address" id="leave-reply-email">
                    </div>
                    <div class="form-group">
                    <input type="text" placeholder="Avatar URL" id="leave-reply-avatar">
                    </div>
                    <div class="form-group">
                    <textarea rows="4" placeholder="Message" id="leave-reply-text"></textarea>
                    </div>
                    <button type ="submit" class="submit-comment" id="leave-reply-submit" class="btn btn-default">SUBMIT</button>
                    {{!--<input type="submit" value="SUBMIT"/>--}}
                </form>
                <div class="box-bottom-border"></div>
            </div>
        </div>
        </div>
        <div class="d-none d-xl-block col-lg-4">
            <aside class="">
                <div class="aside-post aside-box">
                    <ul class="nav-ul">
                        <li>
                            <h2 class="aside-title">Recent</h2>
                        </li>
                        <li>
                            <h2 class="aside-title">Popular</h2>
                        </li>
                        <li>
                            <h2 class="aside-title">Random</h2>
                        </li>
                    </ul>
                    <div class="aside-content">
                        <div class="content">
                            <img src="../../../assets/share-facebook.png" alt="">
                            <div class="content-details">
                                <h3 class="content-title">asdasd</h3>
                                <p class="content-date">asdasdas</p>
                            </div>
                        </div>
                        <div class="content">
                            <img src="../../../assets/share-facebook.png" alt="">
                            <div class="content-details">
                                <h3 class="content-title">asdasd</h3>
                                <p class="content-date">asdasdas</p>
                            </div>
                        </div>
                        <div class="content">
                            <img src="../../../assets/share-facebook.png" alt="">
                            <div class="content-details">
                                <h3 class="content-title">asdasd</h3>
                                <p class="content-date">asdasdas</p>
                            </div>
                        </div>
                        <div class="content">
                            <img src="../../../assets/share-facebook.png" alt="">
                            <div class="content-details">
                                <h3 class="content-title">asdasd</h3>
                                <p class="content-date">asdasdas</p>
                            </div>
                        </div>
                        <div class="box-bottom-border"></div>
                    </div>
                </div>
                <div class="aside-widget aside-box">
                    <h2 class="aside-title">Custom text widget</h2>
                    <ul>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                        <li><img src="../../../assets/li-link.png" alt="" class="li-link">aasdas</li>
                    </ul>
                    <div class="box-bottom-border"></div>
                </div>
                <div class="aside-widget aside-box">
                    <h2 class="aside-title">Custom text widget</h2>
                    <p class="text-content">Pesho gosho Toshooo Peshoo</p>
                    <div class="box-bottom-border"></div>
                </div>
            </aside>
        </div>
    </div>
</div>